<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_102</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
